form#upload-favicon-form(name='form')
  md-card
    md-toolbar
      .md-toolbar-tools
        h2 生成你的Favicons
        span(flex)
        md-button(ui-sref='about', target='_blank') 什么是favicon？
    img.md-card-image(ngf-src='file' alt='预览')
    md-progress-linear.md-accent(md-mode='determinate' 
                       value='{{progressbar.percent}}'
                       ng-if='progressbar.display')
    .md-actions(layout='row', layout-align='start center')
      md-button.md-raised(ngf-select
                ng-model='file' 
                name='file' 
                ngf-pattern='image/*' 
                accept='image/*'
                ngf-max-size='20MB') 
        i.fa.fa-image
        md-tooltip 选择图片
      md-button.md-raised.md-accent(type='submit', ng-click='submit()')
        i.fa.fa-magic
        md-tooltip 生成Favicons
